<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Mp3PlayerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_home"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DarkMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".LauncherThemeActivities$CustomBlueLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomBlueLight" />
        <activity
            android:name=".LauncherThemeActivities$CustomBlueDark"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomBlueDark" />
        <activity
            android:name=".LauncherThemeActivities$CustomRedLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomRedLight" />
        <activity
            android:name=".LauncherThemeActivities$CustomRedDark"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomRedDark" />
        <activity
            android:name=".LauncherThemeActivities$CustomGreenLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomGreenLight" />
        <activity
            android:name=".LauncherThemeActivities$CustomGreenDark"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomGreenDark" />
        <activity
            android:name=".LauncherThemeActivities$CustomPinkLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomPinkLight" />
        <activity
            android:name=".LauncherThemeActivities$CustomPinkDark"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomPinkDark" />
        <activity
            android:name=".LauncherThemeActivities$CustomOrangeLight"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomOrangeLight" />
        <activity
            android:name=".LauncherThemeActivities$CustomOrangeDark"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeCustomOrangeDark" />
        <activity-alias
            android:name=".LauncherLight"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_home"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_dark"
            android:label="@string/app_name"
            android:targetActivity=".DarkMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomBlueLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_blue_light"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomBlueLight"
            android:targetActivity=".LauncherThemeActivities$CustomBlueLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomBlueDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_blue_dark"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomBlueDark"
            android:targetActivity=".LauncherThemeActivities$CustomBlueDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomRedLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_red_light"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomRedLight"
            android:targetActivity=".LauncherThemeActivities$CustomRedLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomRedDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_red_dark"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomRedDark"
            android:targetActivity=".LauncherThemeActivities$CustomRedDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomGreenLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_green_light"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomGreenLight"
            android:targetActivity=".LauncherThemeActivities$CustomGreenLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomGreenDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_green_dark"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomGreenDark"
            android:targetActivity=".LauncherThemeActivities$CustomGreenDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomPinkLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_pink_light"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomPinkLight"
            android:targetActivity=".LauncherThemeActivities$CustomPinkLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomPinkDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_pink_dark"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomPinkDark"
            android:targetActivity=".LauncherThemeActivities$CustomPinkDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomOrangeLight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_orange_light"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomOrangeLight"
            android:targetActivity=".LauncherThemeActivities$CustomOrangeLight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".LauncherCustomOrangeDark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_custom_orange_dark"
            android:label="@string/app_name"
            android:theme="@style/AppThemeCustomOrangeDark"
            android:targetActivity=".LauncherThemeActivities$CustomOrangeDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <service
            android:name=".PlayerService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>
</manifest>

